<div class="what_is_this_site">
  <div class="inside">
    DBIx::Customは、<a href="https://tutorial.perlzemi.com/">Perl</a>のデータベースアクセスモジュールの一つです。insert,update,delete,selectのSQLを簡単に実行できる機能があります。DBIx::Connectorをデフォルトで搭載、接続管理も自動的に行います。where句のand,orを柔軟に書け、プレイスホルダー機能を提供。<a href="https://websystem.perlzemi.com/">Webシステム開発</a>では、外部キーのjoinを頻繁に記述しますが、join句をモデルに定義して、簡単に外部キーを接続できます。<a href="https://mariadb.perlzemi.com/">MariaDB</a>, MySQL, PostgreSQL, SQLite, Microsoft SQL Server, Oracle Database, Microsoft Accessにも対応。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    プログラミングスクール<br>Perlクラブ
  </a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>