<h2>DBIx::Custom - Mojoliciousと使うPerlのO/Rマッパー</h2>

DBIx::Customは、Mojoliciousと組み合わせて使えるPerlのO/Rマッパーです。O/Rマッパーとは、データベースへのアクセスを簡単にしてくれるモジュールのことを言います。

DBIx::Customを使うと、データベースのテーブルに対して、select、insert、update,deleteの操作が簡単にできます。

検索が柔軟にできるwhere句の機能を提供。

join句を定義して、外部キーで、テーブルを連結することも簡単です。

SQLに近い形で、構文が書けるので、純粋なSQLを使いたくなったときも、うまく対応できます。

トランザクションをサポート。

MySQL, PostgreSQL, SQLite, Oracle Database, SQL Server, Access対応。

2020年現在、廃止予定になっている機能を除いて、将来的な後方互換性を維持。

<h3>Create web site</h3>

Create web site by new command.

<pre>
giblog new mysite
</pre>

Other prototypes is also available.

<pre>
giblog new_website mysite
giblog new_blog mysite
</pre>

After creating web site, change directory to mysite

<pre>
cd mysite
</pre>

<h3>Add new entry</h3>

Add new entry by add command.

<pre>
giblog add
</pre>

<h3>Build</h3>

Build web site.

<pre>
giblog build
</pre>

If you want to customize build process, you open lib/Giblog/Command/Build.pm and edit run subroutine.

<h3>Serve</h3>

You can serve your web site by morbo command if you have Mojolicious.

<pre>
morbo serve.pl
</pre>

build command is automatically executed after editting files in templates directory.

<h3>Examples</h3>

Some examples.

<blockquote>
  This is a quote.
</blockquote>

<div>
  Hello
</div>

<h4>Sub header</h4>

<pre>
<><><>
</pre>

<pre>
1 > 2;
1 < 3;
1 & 3;
</pre>

<ul>
  <li>Item1</li>
  <li>Item2</li>
  <li>Item3</li>
</ul>

<table>
  <tr>
    <th>Head1</th><th>Head2</th>
  </tr>
  <tr>
    <td>Item1</td><td>Item2</td>
  </tr>
</table>

<a href="https://github.com/yuki-kimoto/giblog">Giblog</a>

<div>
  <img src="/images/giblog-logo.png">
</div>
